<div class="row">
 {{#each videos}}
    <div class="card">
	    <a href="#/view/{{_id}}">
	    {{#if cover}}
	        <img src="{{cover}}" class='poster'/>
	    {{else}}
	    	<img src="img/placeholder.png" class='poster'/>
	    {{/if}}
	    </a>
		<p> {{name}}</p>
    </div>
{{/each}}
</div>
<div>
<!--span id="next">Page {{limit}} </span-->
</div>
